<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} | %X{user} : %X{correlationId} | - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <logger name="be.wouterversyck.shoppinglistapi" level="DEBUG" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" />

    <!-- other loggers will inherit appenders from root -->
    <!-- add additivity='false' to override this -->
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
