<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} | %X{user} : %X{correlationId} | - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <logger name="be.wouterversyck.shoppinglistapi" level="DEBUG" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
        <level value="DEBUG" />
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
