<configuration>
    <property name="LOG_DIR" value="/app/java/shopping-list-api/logs"/>
    <property name="LOG_FILE_NAME" value="shopping-list-api.log"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} | %X{user} : %X{correlationId} | - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE_NAME}</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} | %X{user} : %X{correlationId} | - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
    <appender name="sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <!-- Optionally add an encoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} | %X{user} : %X{correlationId} | - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="be.wouterversyck.shoppinglistapi" level="INFO" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" />

    <!-- other loggers will inherit appenders from root -->
    <!-- add additivity='false' to override this -->
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="sentry" />
    </root>
</configuration>
