<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account password set</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h2>Password set for account <span th:text="${username}"></span></h2>
        <p>
            Please follow <a th:href="@{https://woopsel.be/#/profile/passwordset(token=#{token})}">this link</a> to set a password
            or reset your password.
        </p>
        <p>
            If you did not request a new account or password, please ignore this mail.
        </p>
    </body>
</html>